<li>
  <span class="schema-key">{{key}}</span>:
  {{#if field.isObject}}
    <details>
      <summary>{{field.type}}</summary>
      <ul>
        {{#each field.fields}}
          {{> schema-node key=key field=this}}
        {{/each}}
      </ul>
    </details>
  {{else}}
    <span class="schema-type">{{field.type}}</span>
    <span class="schema-detail">{{field.detail}}</span>
  {{/if}}
</li>
