<form class="trait-browser">
  {{#if error}}
    <p class="trait-browser__error">{{error}}</p>
  {{else}}
    <div class="form-group">
      <label for="trait-category-select">Trait Category</label>
      <select name="trait-category" id="trait-category-select">
        {{#each categories}}
          <option value="{{this.key}}" {{#if (eq this.key ../selectedKey)}}selected{{/if}}>
            {{this.label}} ({{this.count}})
          </option>
        {{/each}}
      </select>
    </div>

    <section class="trait-browser__list">
      {{#if traits.length}}
        <ul>
          {{#each traits}}
            <li class="trait-browser__item" data-action="copy-trait" data-slug="{{this.slug}}">
              <div class="trait-browser__item-header">
                <span class="trait-browser__label">{{this.label}}</span>
                <code class="trait-browser__slug">{{this.slug}}</code>
              </div>
              {{#if this.description}}
                <p class="trait-browser__description">{{this.description}}</p>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p class="trait-browser__empty">No traits available for this category.</p>
      {{/if}}
    </section>

    <p class="trait-browser__hint">Click a trait to copy its slug.</p>
  {{/if}}
</form>
